<div class="p-5">
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center p-3 gap-4 sm:gap-2">
        <span class="text-2xl sm:text-3xl font-bold">Cash Advance List</span>

        <% if @eligible && User.can_request_cashadv(current_user) == true && (current_user.has_role?(:finance) || current_user.has_role?(:employee)) %>
            <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="text-sm sm:text-base px-3 sm:px-4 py-2 mb-5 text-white shadow-md rounded-md bg-blue-500 hover:bg-blue-600 flex items-center space-x-2" type="button">
                <i class="bi bi-file-earmark-plus-fill text-xl"></i>
                <span class="font-semibold">Request Cash Advance</span>
            </button>
        <% end %>
    </div>
    <% if @cash_adv_request.present? %>
        <div class="relative overflow-hidden shadow-md sm:rounded-lg p-8 border-t border-gray-200 mb-5">
            <span class=" font-medium text-xl rounded-xl  <%= @cash_adv_request.status_class %>"> <%= @cash_adv_request.status.capitalize %> Request </span> 
            <div class="grid grid-cols-3 gap-4 px-10">
                <div class=" p-4 ">
                    <h2 class="text-lg font-semibold">Amount</h2>
                    <p class="text-2xl font-bold text-black">
                        <%= number_to_currency(@cash_adv_request.amount , unit: "₱ ", precision: (@cash_adv_request.amount  % 1 == 0 ? 0 : 2)) %>
                    </p>
                </div>
                <div class=" p-4 ">
                    <h2 class="text-lg font-semibold">Interest Amount</h2>
                    <p class="text-2xl font-bold text-black">
                        <%= number_to_currency(@cash_adv_request.interest_amount , unit: "₱ ", precision: (@cash_adv_request.interest_amount  % 1 == 0 ? 0 : 2)) %>
                    </p>
                </div>
                <div class=" p-4 ">
                    <h2 class="text-lg font-semibold">Total Amount w/Interest</h2>
                    <p class="text-2xl font-bold text-red-600">
                        <%= number_to_currency(@cash_adv_request.amount + @cash_adv_request.interest_amount, unit: "₱ ", precision: (@cash_adv_request.amount + @cash_adv_request.interest_amount % 1 == 0 ? 0 : 2)) %>
                    </p>
                </div>
            </div>
                
            <div class="w-full border border-gray-400 rounded-2xl">
                <button id="accordion-toggle" type="button" class="flex items-center justify-between w-full p-5 font-medium text-black hover:bg-gray-100 dark:hover:bg-gray-800 dark:text-gray-400">
                    <span>Repayment Schedule</span>
                    <svg id="accordion-icon" class="w-4 h-4 transition-transform transform" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5L5 1 1 5"/>
                    </svg>
                </button>
                <div id="accordion-body" class="hidden p-5 text-gray-500 dark:text-gray-400 border-t border-gray-200 dark:border-gray-700">
                    <% if @repayment_schedules.present? %>
                    <%= render "repayment_schedules/schedule_table", repayment_schedules: @repayment_schedules %>
                  <% else %>
                    <p class="text-center text-gray-500 italic">No repayment schedule available.</p>
                  <% end %>
                </div>
            </div>
        </div>
    <% end %>

    <div class="relative overflow-hidden shadow-md sm:rounded-lg p-8 border-t border-gray-200">
        <div class="mb-5 w-full">
            <%= search_form_for @q, url: employee_cash_adv_requests_path, method: :get, class: "flex items-center gap-2" do |f| %>
                <%= hidden_field_tag :status, @status %>
                <%= f.search_field :employee_f_name_or_employee_m_name_or_employee_l_name_or_cut_off_or_status_cont, 
                    class: "w-full p-2 border border-gray-300 rounded-lg", 
                    placeholder: "Search cash advance requests" %>
                
                <%= f.submit "Search", class: "w-auto px-10 py-2.5 bg-blue-500 text-white shadow-md rounded-md font-semibold" %>
          <% end %>
        </div>

        <table class="w-full table-auto text-xs sm:text-md text-left text-gray-500 dark:text-gray-400 mb-5">
            <thead class="text-xs sm:text-sm md:text-md lg:text-md p-2 text-gray-700 bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-3 py-2 w-24 hidden md:table-cell whitespace-nowrap"><%= sort_link(@q, :amount, "Amount") %></th>
                    <th scope="col" class="px-3 py-2 w-24 hidden md:table-cell whitespace-nowrap"><%= sort_link(@q, :interest_amount, "Interest") %></th>
                    <th scope="col" class="px-3 py-2 w-24 whitespace-nowrap"><%= sort_link(@q, :amount, "Total Amount w/Interest") %></th>
                    <th scope="col" class="px-3 py-2 w-24 hidden md:table-cell whitespace-nowrap"><%= sort_link(@q, :cut_off, "Cut-Off") %></th>
                    <th scope="col" class="px-2 py-2 w-24 hidden md:table-cell whitespace-nowrap"><%= sort_link(@q, :repayment_months, "Repayment Months") %></th> 
                    <th scope="col" class="px-2 py-2 w-24 hidden md:table-cell whitespace-nowrap"><%= sort_link(@q, :created_at, "Requested on") %></th>
                    <th scope="col" class="px-3 py-2 w-28 whitespace-nowrap"><%= sort_link(@q, :status, "Status") %></th>
                    <th scope="col" class="px-3 py-2 w-24 whitespace-nowrap">Action</th>
                </tr>
            </thead>
            <tbody>
            <% if @cash_adv_requests.empty? %>
                <tr class="cash-advance-row">
                    <td colspan="7" class="text-center py-3 text-lg">No data available</td>
                </tr>
            <% else %>
                <% @cash_adv_requests.each do |cashadvreq| %>
                <tr class="cash-advance-row text-sm sm:text-sm md:text-md lg:text-md bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" data-status="<%= cashadvreq.status.downcase %>">
                    
                    <td class="px-3 py-2 w-24 capitalize hidden md:table-cell">
                        <%= number_to_currency(cashadvreq.amount, unit: "₱ ", precision: (cashadvreq.amount % 1 == 0 ? 0 : 2)) %>
                    </td>
                    <td class="px-3 py-2 w-24 capitalize hidden md:table-cell">
                        <%= number_to_currency(cashadvreq.interest_amount, unit: "₱ ", precision: (cashadvreq.interest_amount % 1 == 0 ? 0 : 2)) %>
                    </td>
                    <td class="px-3 py-2 w-24 capitalize">
                        <%= number_to_currency(cashadvreq.amount + cashadvreq.interest_amount, unit: "₱ ", precision: (cashadvreq.amount + cashadvreq.interest_amount % 1 == 0 ? 0 : 2)) %>
                    </td>
                    <td class="px-3 py-2 w-24 hidden md:table-cell capitalize">
                        <%= cashadvreq.cut_off %>
                    </td>
                    <td class="px-3 py-2 w-24 capitalize max-w-[150px] hidden md:table-cell">
                        <%= cashadvreq.repayment_months %>
                    </td>
                    <td class="px-3 py-2 w-24 capitalize max-w-[150px] hidden md:table-cell">
                        <%= cashadvreq.created_at.strftime("%B %d, %Y") %>
                    </td>
                    <td class="px-3 py-2 w-28 capitalize">
                        <span class="<%= cashadvreq.status_class %>">
                            <%= cashadvreq.status.capitalize %>
                        </span>
                    </td>
                    <td class="px-3 py-2 w-24">
                        <%= link_to admin_cash_adv_request_path(cashadvreq.id), class: "px-2 py-1 text-blue-600" do %>
                            <i class="bi bi-eye-fill"></i>
                        <% end %>
                    </td>
                </tr>
                <% end %>
                <% end %>
            </tbody>
        </table>
        
        <div id="no-data-message" class="hidden text-center py-3 text-lg">
            No requests found
        </div>
        
        <% if @pagy.pages > 1 %>
            <%= render "/layouts/pagy/pagination", pagy: @pagy %>
        <% end %>
    </div>
</div>

<%= render partial: "admin/cash_adv_requests/modal", locals: { modal_id: "default-modal", eligibility: @eligibility } %>

<script>
  document.addEventListener('turbolinks:load', function () {
    const toggle = document.getElementById('accordion-toggle');
    const body = document.getElementById('accordion-body');
    const icon = document.getElementById('accordion-icon');

    if (toggle && body && icon) {
      toggle.addEventListener('click', () => {
        body.classList.toggle('hidden');
        icon.classList.toggle('rotate-180');
      });
    }
  });
</script>

