<h1>Cash Advance Request</h1>

<p>Hello <%= @employee.f_name + " " + @employee.l_name %>,</p>

<% if @repayment_schedule.present? && @repayment_schedule.status == "paid" %>
  <p>
    Your cash advance payment for <b><%= @repayment_schedule.due_date.strftime("%B %d, %Y") %></b> 
    with the amount of <b><%= number_to_currency(@repayment_schedule.amount, unit: "₱ ") %></b> is already paid.
  </p>
<% else %>
  <% if @cash_advance_request.status == "declined" %>
    <p>
      Your cash advance request amounting to 
      <b><%= number_to_currency(@cash_advance_request.amount, unit: "₱ ") %></b> is declined 
      because <%= @cash_advance_request.approver_reason %>. 
    </p>
    <p> You may re-apply again <b><%= @eligibility.req_decline_days > 0 ? "after #{@eligibility.req_decline_days} days." : "now." %></b> </p>
  <% else %>
    <p>
      Your cash advance request amounting to 
      <b><%= number_to_currency(@cash_advance_request.amount, unit: "₱ ") %></b> 
      with interest of <b><%= number_to_currency(@cash_advance_request.interest_amount, unit: "₱ ") %></b> is already 
      <b><%= @cash_advance_request.status %></b>.
    </p>
    <p> Your total cash advance is <b><%= @cash_advance_request.amount + @cash_advance_request.interest_amount %></b> </p>

    <% if @cash_advance_request.status == "released" %>
      <p>Please log in to your cash advance account to view your repayment schedule.</p>
    <% elsif @cash_adv_request.status == "settled" %>
      <p> You may re-apply again <b><%= @eligibility.req_approve_days > 0 ? "after #{@eligibility.req_approve_days} days." : "now." %></b> </p>
    <% end %>
  <% end %>
<% end %>

<p>Regards,<br>Company</p>
