<div class="p-5">

  <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center p-3 gap-4 mb-5 sm:gap-2">
        <span class="text-2xl sm:text-3xl font-bold">Audit Logs</span>
        <% if current_user.has_role?(:admin) %>
            <div class="flex flex-col sm:flex-row sm:items-center gap-2 sm:ml-auto">
                <%= link_to pdf_file_admin_audit_logs_path(q: params[:q]&.permit!.to_h), target: "_blank", class: "text-sm sm:text-base px-3 sm:px-4 py-2 text-white shadow-md rounded-md bg-red-500 hover:bg-red-600 flex items-center space-x-2 justify-center" do %>
                    <i class="bi bi-filetype-pdf text-lg sm:text-xl"></i>
                    <span class="font-semibold">Export to PDF</span>
                <% end %>

                <%= link_to excel_file_admin_audit_logs_path(q: params[:q]&.permit!.to_h), target: "_blank", class: "text-sm sm:text-base px-3 sm:px-4 py-2 text-white shadow-md rounded-md bg-green-500 hover:bg-green-600 flex items-center space-x-2 justify-center" do %>
                    <i class="bi bi-filetype-xlsx text-lg sm:text-xl"></i>
                    <span class="font-semibold">Export to EXCEL</span>
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="bg-white shadow-md sm:rounded-lg p-6 border border-gray-200">
      <div class="mb-4">
        <%= search_form_for @q, url: admin_audit_logs_path, method: :get, class: "flex flex-wrap gap-4 items-end" do |f| %>
          <div class="flex-grow">
            <%= f.search_field :user_f_name_or_user_l_name_cont,
              class: "w-full p-2 border border-gray-300 rounded-lg text-sm",
              placeholder: "Enter name" %>
          </div>
          <div>
            <%= f.label :created_at_gteq, 'From', class: "block text-sm font-medium mb-1" %>
              <%= f.date_field :created_at_gteq,
              class: "p-2 border border-gray-300 rounded-lg text-sm" %>
          </div>
          <div>
              <%= f.label :created_at_lteq, 'To', class: "block text-sm font-medium mb-1" %>
              <%= f.date_field :created_at_lteq,
              class: "p-2 border border-gray-300 rounded-lg text-sm" %>
          </div>
          <div>
            <%= f.submit "Search",
              class: "px-6 py-2 bg-blue-500 text-white shadow-md rounded-md text-sm font-semibold" %>
          </div>
        <% end %>
      </div>
      <table class="w-full table-auto text-xs sm:text-sm text-center text-gray-700 mb-6">
        <thead class="bg-gray-100 text-gray-800">
          <tr>
            <th class="p-2 font-semibold">
              <%= sort_link(@q, :created_at, "Date", default_order: :desc) %>
            </th>
            <th class="p-2 font-semibold">
              <%= sort_link(@q, :user_f_name, "User") %>
            </th>
            <th class="p-2 font-semibold">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if @audit_logs1.any? %>
            <% @audit_logs1.each do |log| %>
              <tr class="odd:bg-gray-50 even:bg-white border-b">
                <td class="p-2"><%= log.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                <td class="p-2"><%= "#{log.user.f_name} #{log.user.l_name}" %></td>
                <td class="p-2"><%= log.action %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3" class="p-4 text-gray-500 italic">No logs available</td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @pagy_audit_logs1&.pages.to_i > 1 %>
        <div class="mt-4">
          <%= render "/layouts/pagy/pagination1", pagy: @pagy_audit_logs1 %>
        </div>
      <% end %>
    </div>
</div>





