<!DOCTYPE html>
<html>
  <head>
    <title>Cash Advance System</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="turbo-cache-control" content="no-cache">

  </head>
  
  <% if user_signed_in? %>
    <% if current_user.has_role?(:admin) %>
      <%= render "layouts/navbar/admin_sidenav" %>
    <% elsif (current_user.has_role?(:employee) || current_user.has_role?(:finance)) && current_user.is_first %>
      <%= render "layouts/navbar/employee_sidenav" %>
    <% end %>
  <% end %>

  <body>

    <% if user_signed_in? && current_user.is_first%>
      <% if current_user.has_role?(:admin) %>
        <%= render "layouts/navbar/admin_sidenav" %>
      <% elsif current_user.has_role?(:employee) %>
        <%= render "layouts/navbar/employee_sidenav" %>
      <% end %>
    <% end %>


    <% if flash[:notice] || flash[:alert] %>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      if (!sessionStorage.getItem("flash_shown")) {
        sessionStorage.setItem("flash_shown", "true");

        Swal.fire({
          title: "<%= flash[:notice] ? 'Success!' : 'Error!' %>",
          text: "<%= j flash[:notice] || flash[:alert] %>",
          icon: "<%= flash[:notice] ? 'success' : 'error' %>",
          confirmButtonText: "OK"
        });
      }
    });
  </script>
<% end %>

    <% if user_signed_in? && current_user.is_first %>
      <div class="p-4 ml-16 sm:ml-64 transition-all">
        <%= yield %>
      </div>
    <% else %>
      <div class="p-10 px-36">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
